@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common
@inject MessageBoard.Misc.WebConfig _webConfig
@model MessageBoard.ViewModels.Guestbooks.Index

@{
    ViewBag.Title = "Index";
}

<div id="CreateData">
    <partial name="_Create" model="Model.Create" />
</div>

<h2>留言板</h2>

<form id="SearchForm" asp-action="Index" method="get">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-1">
            <label asp-for="@Model.Search"></label>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" asp-for="@Model.Search" autocomplete="false" />
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary btn-sm">搜尋</button>
            <button type="submit" class="btn btn-secondary btn-sm" onclick="$('#Search').val('')">清除</button>
        </div>
    </div>
</form>

@if (Model != null && Model.DataList.Any())
{
    <div id="dataListContainer">
        <partial name="_DataListPartial" model="Model" />
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        資料庫內查無資料
    </div>
}
<a id="result"></a>

@section Style {
    <link rel="stylesheet" href="~/lib/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/css/PagedList.min.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CreateForm').ajaxForm({
                error: function (xhr, textStatus, errorThrown) {
                    toastr.error(xhr.responseJSON.detail);
                    console.log("in ajaxForm error");
                },
                success: function (data, textStatus, jqXHR) {
                    location = "#result";
                    location.reload(true);
                }
            });

            function interceptPaging() {
                $("#dataListContainer .pagination a").click(function (event) {
                    event.preventDefault();
                    $.get($(this).attr("href"),
                        function (d) {
                            $("#dataListContainer").html(d);
                            interceptPaging();
                        });
                });
            }
            interceptPaging();
        });
    </script>
    @Html.Raw(MessageBoard.Helpers.NotificationsHelper.RenderNotifications())
}
