@model MessageBoard.ViewModels.Members.ChangePassword
@{
    ViewBag.Title = "修改密碼";
}

@Html.Raw(MessageBoard.Helpers.StatusMessageHelper.RenderMessage())

<h2>@ViewBag.Title</h2>

<form id="ChangePasswordForm" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password" autocomplete="false" />
        <span asp-validation-for="Password" class="text-danger small"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input type="password" class="form-control" asp-for="NewPassword" autocomplete="false" />
        <span asp-validation-for="NewPassword" class="text-danger small"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordCheck"></label>
        <input type="password" class="form-control" asp-for="NewPasswordCheck" autocomplete="false" />
        <span asp-validation-for="NewPasswordCheck" class="text-danger small"></span>
    </div>
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">修改密碼</button>
    </div>
</form>

@section Style {
    <style type="text/css">
        form {
            margin: 0 auto;
            width: 560px;
        }
    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
